body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, a {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 1px;
}

p {
  color: white;
}

a:hover {
  color: #228be6;
}

#fullVideo {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
}

#welcome {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  /* grid-row-gap: 1rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 2rem;
}

.logo {
  max-width: 100px;
  place-self: center;
}

.huge {
  font-size: 6rem;
  color: #f8f9fa;
  margin: 1.5rem;
}

.white {
  color: #f8f9fa;
}

.topLeft {
  margin-top: 1rem;
  margin-left: 1rem;
  transform: translateX(0) translateY(0);
  position: fixed;
  top: 0;
  left: 0;
}

.topRight {
  margin-top: 1rem;
  margin-right: 1rem;
  top: 0;
  right: 0;
  transform: translateX(0) translateY(0);
  position: fixed;
}

.bottomRight {
  margin-bottom: 1rem;
  margin-right: 1rem;
  bottom: 0;
  right: 0;
  transform: translateX(0) translateY(0);
  position: fixed;
}

.bottomLeft {
  margin-bottom: 1rem;
  margin-left: 1rem;
  bottom: 0;
  left: 0;
  transform: translateX(0) translateY(0);
  position: fixed;
}

.navLink {
  color: #f8f9fa;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2rem;
  z-index: 99;
}

.blogTitle {
  text-align: center;
  max-width: 75%;
  justify-self: center;
}

.blogBody {
  display: grid;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.imgTextTwoColumn  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
